@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* @apply border border-yellow-600 ; */
}

:root {
  --primary-color: rgb(8, 131, 19);
  --secondary-color: rgb(245, 171, 61);
  --accent: rgb(233, 230, 230);
  --background-color: white;
  --background-shade: rgb(246, 246, 246);

  --text-color: rgb(5, 5, 5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(8, 131, 19);
    /* --primary-color: rgb(98, 135, 236); */
    --secondary-color: rgb(245, 150, 61);
    --accent: rgb(233, 230, 230);
    --background-color: rgb(5, 5, 5);
    --background-shade: rgb(20, 20, 20);
    --background-contrast: white;
    --text-color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input {
    @apply bg-transparent border-[1px] border-stone-200 rounded-md px-2 py-3 w-full text-sm border-opacity-10 my-1;
  }

  .btn {
    @apply bg-primary text-white rounded-md px-3 py-2 w-[100%] font-medium hover:bg-secondary;
  }
}

::-webkit-scrollbar {
  display: none;
  /* color: rgb(98, 135, 236);
 color: rgb(247, 107, 107);
 color: rgb(233, 230, 230);
  */
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  justify-items: center;
  gap: 2em;
  color: black;
}

.interest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  justify-items: center;
  gap: 1.2em;
  color: black;
}
